@import url(https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

/*  ==========================================================================
      breakpoint-max -
      This mixin allows us to use specific breakpoints
      defined in our variables, and generate the correct
      (max-width) media query required
  =========================================================================== */
body {
  font-family: 'Lora', serif;
  color: #333; }

.menu {
  font-size: 50px;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: scroll; }
  @media (min-width: 768px) {
    .menu {
      width: 70%; } }
  .menu__nav {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 2rem;
    padding-top: 2rem;
    transition: ease 0.15s; }
    .menu__nav__active {
      color: #fd885d !important; }
    @media (min-width: 768px) {
      .menu__nav {
        border-bottom: 0;
        padding-top: 0;
        padding-bottom: 0; } }
    .menu__nav a {
      font-size: 1.6rem;
      text-decoration: none;
      color: #333;
      text-transform: capitalize;
      display: block;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      transition: ease 0.15s; }
      .menu__nav a:hover {
        color: #fd885d; }
  .menu__about {
    padding-top: 3.2rem; }
    @media (min-width: 768px) {
      .menu__about {
        padding-top: 0; } }
  .menu__about, .menu__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media (min-width: 768px) {
      .menu__about, .menu__nav {
        margin-top: 0;
        width: 50%;
        height: 100vh;
        border-right: 1px solid #f0f0f0; } }
  .menu__about {
    border-top: 1px solid #f0f0f0; }
    @media (min-width: 768px) {
      .menu__about {
        border-top: 0; } }
    .menu__about__inside {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
  @media (min-width: 768px) {
    .menu__container {
      display: flex;
      justify-content: space-between; } }
  .menu__title {
    font-size: 1.1rem; }
  .menu__desc {
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5;
    max-width: 80%; }
    @media (min-width: 1024px) {
      .menu__desc {
        max-width: 343px; } }
  .menu__avatar {
    border-radius: 50%;
    width: 120px; }
  .menu__icons__icon {
    width: 25px;
    margin-right: 20px;
    transition: 0.2s linear; }
    .menu__icons__icon:hover {
      opacity: 0.4; }
  .menu__title, .menu__desc, .menu__icons {
    margin-top: 1.2rem; }


/*# sourceMappingURL=styles.chunk.css.map*/